*{
	margin: 0;
	padding: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background:url(../img/indexback.png)no-repeat fixed 0 0/100% 100%;
}
.btnDiv{
	position: absolute;
	bottom: 1.25rem;
	width: 100%;
}
.btn{
	width: 80% !important;
	background-color: white !important;
	border: 1px solid transparent;
	color: #04CCBB !important;
	border-radius: 1.5625rem;
}
.body_div{
	
}
.title{
	width: 100%;
	text-align: center;
	color: white;
	padding: 0.3125rem 0rem;
	font-size: 0.9375rem;
}
.img_div{
	width: 100%;
	text-align: center;
	margin-top: 1.875rem;
}
.divBtn{
	width: 100%;
	text-align: center;
	position: relative;
	bottom: -37rem;
}
.starttesting{
	width: 80%;
	border: 0px solid transparent;
	border-radius: 2.8125rem;
	color: #04CCBB;
	padding: 1rem 0rem;
}