*{
	margin: 0;padding: 0;
}
body{
	background-color: rgba(4,204,187,1);
}
html, body {

    max-width: 100%;

    overflow-x: hidden;

}
.returndiv{
	margin: 0.5rem;
	width: 100%;
}
.whiteDiv{
	background-color: white;
	width: 95%;
	margin: 0px auto;
}
.tableStyle{
	font-size: 0.6875rem
	width:100%;
}
table{
border-collapse: collapse;
width: 100%;
height: 220px;
}
table,tr{
}
/*
rgba(245,245,245,1)*/
.duli td{
	border: 1px solid transparent;
}
.tdgray{
	background-color: rgba(0,0,0,0.2);
}

.tiqian{
	background-color: rgba(245,245,245,1);
}
.trStyle{
	text-align: center;
	padding: 0.625rem !important;
	background-color: #FF0000;
	color: white;
}
.pickerInput{
	text-align: center;
	padding: 0.1875rem;
	width: 60%;
	background-color: transparent;
	border: 0px solid transparent;
}
.tableStyle tr{
	text-align: center;
	
}
.labelDiv{
	background-color: transparent !important;
	border: 0px solid transparent !important;
}
.ziti{
	font-size: 0.625rem;
}
.btnDiv{
	width: 60%;
	margin: 0.9375rem auto;
}
.btn{
	border: 1px solid white !important;
	color: white !important;
	margin-top: 1.875rem;
	margin-bottom: 3.75rem;
}
.zhishiDiv{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
}
.zhuangfa{
	position: absolute;
	bottom:13rem;
	width: 100%;
	text-align: center;
	color: wheat;
	font-size: 1.25rem;
}
.aDiv{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 9rem;
}
.aBtn{
	color: white;
	padding: 0.5rem  3.75rem;
	border: 1px solid white;
	font-size: 0.9375rem;
}
.imgDiv{
	position: absolute;
	bottom: 15rem;
	width: 100%;
	text-align: center;
}