body {
	background-color: #04CCBB;
}
body::-webkit-scrollbar {
    display: none;
}
html, body {

    max-width: 100%;

    overflow-x: hidden;

}
.returndiv{
	margin: 0.5rem;
	width: 100%;
}
.flex_start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.space_between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
}

.bodyDiv {
	width: 100%;
}

.whiteDiv {
	background-color: white;
	width: 90%;
	margin: 0.625rem auto;
	border-radius: 0.4375rem;
	padding-bottom: 0.3125rem;
}

.img_div {
	width: 100%;
	text-align: center;
	padding: 1.10rem 0rem;
}

.zitiDiv {
	width: 100%;
	text-align: center;
}

.ziti {
	color: red;
	font-size: 0.625rem;
	margin-top: -1.25rem;
}

.backDiv {
	background-color: rgba(246, 245, 248, 1);
	width: 90%;
	margin: 0.625rem auto;
	padding: 0.625rem 0.625rem;

}

.stuname {}
.inputDiv{
	width: 65%;
}
.inputStyle {
	border: 0px solid transparent;
	background-color: rgba(246, 245, 248, 1);
	padding: 0.3125rem;
	width: 100%;
	text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
}

input[type="number"] {
	-moz-appearance: textfield;
}
.inputRadio div{
	margin-right: 1.25rem;
}
.zongfen{
	width: 90%;
	text-align: right;
	font-size: 0.9375rem;
}
.btnDiv{
	
	width: 60%;
	margin: 0.9375rem auto;
}
.btn{
	border: 1px solid white !important;
	color: white !important;
}